.card{
    border:solid 1px;
    margin: 30px;
    display: flex;
    align-items: center;
}

.cardText{
    margin:15px;
}

.search_param{
    border:solid 1px;
    margin: 30px;
}

.masseurImg{
    width: 100px;
    height: 120px;
}

.result{
    margin: 30px;
}